* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #dfacca;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

#scene {
  perspective: 1200px;
}

#diary {
  position: relative;
  width: 600px;
  height: 750px;
  background: #b711c6;
  border-radius: 6px;
  /*box-shadow: 0 30px 60px rgba(0,0,0,0.7);*/
  overflow: hidden;
}

#lock {
  position: absolute;
  width: 60px;
  height: 80px;
  background-image: url("assets/temp_lock.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  z-index: 10;
  pointer-events: none;
}


#key {
  position: fixed;
  width: 48px;
  height: 48px;
  background-image: url("assets/temp_key.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 100;
}


.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  transition: transform 1s ease;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
}

.page-0 {
  z-index: 3;
  background-image: url("assets/temp_closed_page.png");
}

.page-1,
.page-2 {
  background-image: url("assets/temp_open_page.png");
}

.page-1 { z-index: 2; }
.page-2 { z-index: 1; }

.page.flipped {
  transform: rotateY(-180deg);
}

